* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: radial-gradient(white, hsla(200, 83%, 47%, 0.2))
}

.App {
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	text-align: center;
}

svg {
	pointer-events: none;
	viewport-fit: auto;
}