* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

.board-button {
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .2s ease;
	border-color: #999
}

.board-button:hover {
	box-shadow: 0 0 10px white;
}

.board-button.active:hover{
	box-shadow: 0 0 10px black;
}